.input-box {
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 8px 0 0 0;
}
.input-box:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* .input-box:focus + .search-result {
  display: block;
}
.search-result:hover {
  display: block;
} */
.search-result {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 0;
  list-style: none;
  padding-inline-start: 0;
  max-height: 18rem;
  overflow: auto;
  background: #fff;
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 100%;
}
.search-result > .list-result {
  padding: 10px;
}

/* checkbox css starts here */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container.all {
  background: #c5c5c5;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.multiSelect {
  text-align: left;
  /* margin: 12px; */
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.multiSelect .search-result {
  display: none;
}
.multiSelect.open .search-result {
  display: block;
}
/* chip css */
.chip {
  flex-grow: 1;
  background-color: #fff;
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0;
  height: 32px;
  position: relative;
}

.chip[disabled] {
  background: #f9f0f0;
  pointer-events: none;
}
.chip > svg {
  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

/* .input-box:focus + .search-result {
  display: block;
}
.search-result:hover {
  display: block;
} */

.chip-body {
  height: 20px;
  min-width: 55px;
  width: auto;
  background-color: #2196f3;
  color: #ffffff;
  padding: 3px;
  text-align: center;
  border-radius: 0.25rem;
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 3px;
}
.chip-text {
  margin: 0;
  display: inline;
}
.chip-close {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  cursor: pointer;
  margin-left: 3px;
}
