@font-face {
  font-family: "Gotham Narrow";
  src: url("./Assets/fonts/GothamNarrow-Black.woff2") format("woff2"),
    url("./Assets/fonts/GothamNarrow-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Narrow Ultra";
  src: url("./Assets/fonts/GothamNarrow-Ultra.woff2") format("woff2"),
    url("./Assets/fonts/GothamNarrow-Ultra.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Narrow Book";
  src: url("./Assets/fonts/GothamNarrow-Book.woff2") format("woff2"),
    url("./Assets/fonts/GothamNarrow-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./Assets/fonts/Gotham-Light.woff2") format("woff2"),
    url("./Assets/fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./Assets/fonts/Gotham-Medium.woff2") format("woff2"),
    url("./Assets/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("./Assets/fonts/Gotham-Book.woff2") format("woff2"),
    url("./Assets/fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  /* font-size: 16px !important; */
  font-size: 62.5% !important;
}

body {
  font-family: "Gotham";
  line-height: 1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  white-space: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table > thead > tr > th {
  padding: 1.4rem 0.2rem;
  font-weight: 500;
  border-bottom: 3px solid #2dc3e8;
}
.table tr {
  background: #fff;
}
.table th,
.table td {
  padding: 0.2rem;
  height: 42px;
  vertical-align: middle;
  font-size: 14px;
}

.table td img {
  width: 30px;
}
.table.odd-even tbody tr:nth-child(even) {
  background: #ffffff !important;
}
.table.odd-even tbody tr:nth-child(odd) {
  background: #e5e6e4 !important;
}

.table.bordered th svg:not(:last-child),
.table.bordered td svg:not(:last-child) {
  margin-right: 0.6rem;
}

.table.record-view-table td {
  padding: 0.6rem 0.4rem;
  font-size: 1.5rem;
  height: 30px;  
  font-family: "Roboto", sans-serif;
}

.table.record-view-table td b {
  font-weight: 500;
}
/* .table.record-view-table td:first-child {
  min-width: 30%;
} */
.table.bordered-table th,
.table.bordered-table td {
  border: solid 1px #e1dfdf;
}

/* .textbox {
  width: 100%;
  height: 34px;
  padding: 0.5rem;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
} */
.text-file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 100%;
}
.text-file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}
input[type="file"] + .text-file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  user-select: none;
}
input[type="file"] + .text-file-custom:before {
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 3.2rem;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}
input[type="file"] + .text-file-custom:after {
  content: "Choose file...";
}
input[type="checkbox"] {
  width: auto;
  display: initial;
  height: auto;
}

input,
select {
  display: block;
  width: 100%;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}
input[type="text"]:disabled,
input[type="date"]:disabled,
input[type="password"]:disabled,
input[type="file"]:disabled,
textarea:disabled,
select:disabled {
  background: #f9f0f0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  font-family: "Gotham";
  font-weight: 500;
  color: #bcbcbc;
}

select option[value="default"] {
  background: #c5c5c5;
}

.input-group-addon-left {
  display: flex;
}
.input-group-addon-right {
  display: flex;
}
.input-group-addon-left .input-group {
  border-radius: 4px 0px 0px 4px;
}
.input-group-addon-left input {
  border-radius: 0px 4px 4px 0px;
}

.input-group-addon-right .input-group {
  border-radius: 0px 4px 4px 0px;
}
.input-group-addon-right input {
  border-radius: 4px 0px 0px 4px;
}

.input-group-addon-left > .input-group,
.input-group-addon-right > .input-group {
  line-height: 32px;
  display: block;
  height: 32px;
  padding: 6px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #434343;
  background-color: #bcbcbc;
  background-image: none;
  border: 1px solid #ccc;
  border-right: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.input-group-addon-left > .input-group.blue-button,
.input-group-addon-right > .input-group.blue-button {
  background: #63b9e1;
  color: #fff;
}
.input-group-addon-left > .input-group.blue-button:hover,
.input-group-addon-right > .input-group.blue-button:hover {
  background: #55a9d0;
}

@media (max-width: 769px) {
  input,
  select {
    margin-bottom: 1.2rem;
  }
}

textarea {
  display: block;
  resize: none;
  width: 100%;
  /* height: 40px; */
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #55a9d0;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #55a9d0;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
[type="radio"]:disabled + label:after,
[type="radio"]:disabled + label:before {
  background: #9c9a9a !important;
}
/* Accordian */
.accordion {
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  width: 100%;
}
.accordion .accordion-item {
  border-bottom: solid 1px #c5c5c5;
}
.accordion .accordion-item:first-child .title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 13px;
  font-family: "Gotham";
  font-weight: 500;
  letter-spacing: 1px;
}
/* .accordion .accordion-item:last-child .title {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */
.accordion .accordion-item .title {
  background-color: #6f94ac;
  color: #ffffff;
  cursor: pointer;
  padding: 8px 16px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  vertical-align: middle;
  line-height: 20px;
  font-size: 13px;
  font-family: "Gotham";
  font-weight: 500;
  letter-spacing: 1px;
}
.accordion .accordion-item .title:after {
  content: "\002B";
  font-size: 24px;
  color: #ffffff;
  float: right;
  margin-left: 5px;
}
.accordion .accordion-item .panel {
  max-height: 0;
  -webkit-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  /* display: none; */
  visibility: hidden;
}
.accordion .accordion-item .panel > div {
  padding: 20px;
}
.accordion .accordion-item.active .title {
  background-color: #025063;
  font-size: 13px;
  font-family: "Gotham";
  font-weight: 500;
  letter-spacing: 1px;
}
.accordion .accordion-item.active .title:after {
  content: "\002D";
  font-size: 32px;
}
.accordion .accordion-item.active .panel {
  max-height: 500px;
  /* display: block; */
  visibility: visible;
  -webkit-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}

.accordion .accordion-item.active .panel table tr td h4 {
  font-family: "Gotham";
  font-size: 13px;
}

.accordion .accordion-item.active .panel table tr td p {
  font-family: "Gotham";
  font-weight: 300;
  color: #000;
  font-size: 13px;
}
/*# sourceMappingURL=index.css.map*/

/* Org Chart Style */
#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 420px;
  width: calc(100% - 24px);
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}

#chart-container {
  background-color: #eee;
  height: 300px;
}
.orgchart {
  background: #fff;
}
.orgchart.edit-state .edge {
  display: none;
}
.orgchart .node {
  width: 150px;
}
.orgchart .node .title {
  height: 30px;
  line-height: 30px;
}
.orgchart .node .title .symbol {
  margin-top: 1px;
}
#edit-panel {
  position: relative;
  left: 10px;
  width: calc(100% - 40px);
  border-radius: 4px;
  float: left;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: #449d44;
}
#edit-panel span {
  display: inline-block;
}
#edit-panel input {
  width: auto;
  display: initial;
}
#edit-panel .btn-inputs {
  font-size: 24px;
}
#edit-panel.edit-state > :not(#chart-state-panel) {
  display: none;
}
#edit-panel label {
  font-weight: bold;
}
#edit-panel.edit-parent-node .selected-node-group {
  display: none;
}
#chart-state-panel,
#selected-node,
#btn-remove-input {
  margin-right: 20px;
}
#edit-panel button {
  color: #333;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#edit-panel.edit-parent-node button:not(#btn-add-nodes) {
  display: none;
}
#edit-panel button:hover,
.edit-panel button:focus,
.edit-panel button:active {
  border-color: #eea236;
  box-shadow: 0 0 10px #eea236;
}
#new-nodelist {
  display: inline-block;
  list-style: none;
  margin-top: -2px;
  padding: 0;
  vertical-align: text-top;
}
#new-nodelist > * {
  padding-bottom: 4px;
}
.btn-inputs {
  vertical-align: sub;
}
#edit-panel.edit-parent-node .btn-inputs {
  display: none;
}
.btn-inputs:hover {
  text-shadow: 0 0 4px #fff;
}
.radio-panel input[type="radio"] {
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: top;
}
#edit-panel.view-state .radio-panel input[type="radio"] + label {
  vertical-align: -webkit-baseline-middle;
}
#btn-add-nodes {
  margin-left: 20px;
}

/* CUSTOM HIERARCHY LEVELS CSS */
.reactOrgChart table td.nodeCell {
  padding: 0 2px;
}
.initechNodeDefault {
  min-width: 120px;
  max-width: 140px;
  display: inline-block;
}
.initechNodeDefault > div {
  display: flex;
  flex-direction: column;
  border: solid 2px #41c3e3;
  border-radius: 3px;
  font-size: 14px;
}
.initechNodeDefault > div span:nth-child(1) {
  padding: 3px;
  background: #41c3e3;
  color: #fff;
}
.initechNodeDefault > div span:nth-child(2) {
  padding: 3px;
}
.initechNode {
  /* border: solid 3px #41c3e3; */
  /* border-radius: 3px; */
  padding: 0;
  min-width: 120px;
  max-width: 140px;
  display: inline-block;
}
.initechNode > span {
  display: flex;
  flex-direction: column;
  font-family: "Gotham Narrow Ultra";
  font-size: initial;
  /* background: #41c3e3; */
  color: #fff !important;
  position: relative;
  /* padding: 3px 0; */
}
.initechNode > span:hover {
  cursor: pointer;
}
.initechNode > span:hover .drop-arrow {
  display: block;
}

.initechNode > span .drop-arrow {
  display: none;
  position: absolute;
  margin: 0 auto;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 11px;
  width: 30px;
}
.initechNode > span .drop-arrow svg.icon {
  fill: #00a7de;
}
.initechNode > span .edit {
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  font-weight: bold;
  top: 4px;
}
.initechNode > span > div {
  /* color: #9e0404; */
  font-weight: 500;
  font-size: 13px;
  padding: 5px 0;
}
.initechNode > span > div:nth-child(1) {
  background: #00a7de;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.initechNode > span > div:nth-child(2) {
  background: #41c3e3;
}
.reactOrgChart .nodeLineBorderTop {
  border-top: solid 2px #41c3e3 !important;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: 2px solid #41c3e3 !important;
}

#initechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 2px #41c3e3;
}

#initechOrgChart .nodeLineBorderTop {
  border-top: solid 2px #41c3e3;
}

/* CUSTOM HIERARCHY LEVELS CSS */
/* Modal */
.modalWrapperMain + .modalWrapperMain {
  z-index: 992;
}
/* /// */
.error {
  color: red;
}

@media (max-width: 768px) {
  table.table.bordered.odd-even thead {
    display: none;
  }

  table.table.bordered.odd-even tbody tr {
    display: flex;
    flex-direction: column;
  }

  table.table.bordered.odd-even tbody tr td {
    text-align: left;
    padding-left: 50%;
    position: relative;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    align-items: center;
    width: initial !important;
  }

  /* table.table.bordered.odd-even tbody tr td div {
    text-align: left;
  } */

  table.table.bordered.odd-even tbody tr td div.forMobileView {
    text-align: center;
    width: 16rem;
  }
}

@media (max-width: 480px) {
  table.table.bordered.odd-even tbody tr td {
    font-size: 12px;
    padding-left: 40%;
  }

  table.table.bordered.odd-even tbody tr td div.forMobileView {
    text-align: center;
    width: 10rem;
    font-size: 12px;
  }
}
